<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-VA-Compatible" contents="ie_edge">
        <title>Reveal</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    </head>
    <body>
        <nav id="navbar">
            <a href="#" class="logolink" target="_self"><img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo" class="logo"></a>
            <a id="link" href="#profile">Home</a>
            <a id="link" href="#blogs">Blogs</a>
            <a id="link" href="#about">About</a>
            <a id="link" href="#contact">Contact</a>
            </ul>
        </nav>
        <br>
        <h1>
            Fake job detection
        </h1>
        <form action="/form" method="POST">
            <div class="search_select_box">
                    <label>Select job title</label>
                    <br><br>
                    <select id="title" name="title" placeholder="choose" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in titles %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select location</label>
                    <br><br>
                    <select name="location" id="location" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in location %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select department</label>
                    <br><br>
                    <select data-live-search="true" name="department" id="department" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in dept %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select salary range</label>
                    <br><br>
                    <select data-live-search="true" id="sal_range" name="sal_range" >
                        <option value="">--Please choose an option--</option>
                        {% for i in sal %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select required experience</label>
                    <br><br>
                    <select data-live-search="true" name="exp" id="exp" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in exp %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select employment type</label>
                    <br><br>
                    <select data-live-search="true" name="emp_type" id="emp_type" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in emp_type %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select required education</label>
                    <br><br>
                    <select data-live-search="true" name="edu" id="edu" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in edu %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select industry</label>
                    <br><br>
                    <select data-live-search="true" id="industry" name="industry" required>
                        <option value="">--Please choose an option--</option>
                        {% for i in industry %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <label>Select function</label>
                    <br><br>
                    <select data-live-search="true" name="function" id="function" >
                        <option value="">--Please choose an option--</option>
                        {% for i in function %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </div> 
                <!-- 6.00 imp -->
            
        </form>
    </body>
    <section id=about>
        <h3> <B> ABOUT </B> </h3>
        <p><b>  OUR VISION</b><br>
            <li>Our mission is to improve our security, business productivity and growth.<br></li>
            <li>To be a process driven, managed and profitable organization.<br></li>
            <li>To create open work environment that encourages personal & company growth.<br></li>
            <br>
            <br><b>  OUR MISSION</b><br>
            <li>To maintain stability and growth of the organization.<br></li>
            <li>To enhance efficiency, productivity and capability of businesses.</li>
            <li>To be a strong player in Software industry & offer great value to our clients.</p></li>
     </section>
     <section id=Contact>
        <h3> <B> CONTACT US </B> </h3>
        
        <p><b>Phone Number: </b>044 4392 3900, 044 4678 3133, +91 84596 28771   
           <br>
           <b>Email ID: </b> unlock21@gmail.com
           <br>
           <b>Website/URL: </b>unlock2021.com</p>  
        </section>
        
        <footer>
          <div id="copyright">
            <h4>Copyright 2021</h4>
          </div>
        </footer>
</html>