<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-VA-Compatible" contents="ie_edge">
        <title>website</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <header class="fix">
        <video src="{{url_for('static',filename='video/background.mkv')}}" autoplay loop muted class="bg-video"></video>
        <nav id="navbar">
            <a href="#" class="logolink" target="_self"><img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo" class="logo"></a>
            <a id="link" href="#profile">Home</a>
            <a id="link" href="#blogs">Blogs</a>
            <a id="link" href="#about">About</a>
            <a id="link" href="#contact">Contact</a>
            </ul>
        </nav>
        
        <div class="banner">
            <h2>Fake Job <span>Detection</span></h2>
            <p>Check whether a job is fake or real</p>
            <a href="/form"><button class="Proceed">Proceed</button></a>
        </div>
        </header>   
        
    </body>
    
</html>