<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-VA-Compatible" contents="ie_edge">
        <title>website</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        
 
    </head>
    <body>
        <nav id="navbar">
            <a href="#" class="logolink" target="_self"><img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo" class="logo"></a>
            <a id="link" href="#profile">Home</a>
            <a id="link" href="#blogs">Blogs</a>
            <a id="link" href="#about">About</a>
            <a id="link" href="#contact">Contact</a>
        </nav>
        <!-- <div class="banner"> -->
            <h1>Enter URL</h1>
            <form action="/validate" method="POST">
                <div id="webform">
                <input type="text" id="urlinput" name="url" />
                <input value="submit" type="submit" />
                </div>
            </form> 
        <!-- </div> -->
    </body>
</html>